# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# debug information files
*.dwo
/.vs
/um_ac_bypass/Release
/um_ac_bypass/x64/Debug
/loader/sensfix/Release
*.bak
/.github/copilot-instructions.md
*.txt
*.ini
*.log
/vowac_hooks/Release
/vowac_hooks/x64/Release
*.xml
/vowac_launcher/x64/Release
/output/um_ac_bypass_Scrambled.asi
